@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@400;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/harlow-solid-italic');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	text-align: center;
}

.wrapper footer h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}

footer {
  width: 100%;
	margin-top: auto;
  padding: 60px 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  background-color: #126c49;
  color: #ffffff;
}

.wrapper footer img {
	width: 150px;
	margin-top: -30px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 90px -30px;
}

.col {
  width: 15%;
	margin: 0 auto;
}

.child {
  display: inline-block;
  margin-right: 8px;
}

.email {
  margin-top: 10px;
}

.socials {
  margin-top: 35px;
}

.socials a {
  font-size: 30px;
  color: #ffffff;
  margin-right: 20px;
}

.socials a:hover {
  color: #e88f2b;
  transition: all 0.5s;
}

@media (max-width: 950px) {
	footer {
		padding: 100px 0;
	}

	.row {
		flex-direction: column;
		margin: -200px 40px 40px 20px;
	}

	.col {
		width: 50%;
		padding-top: 150px;
	}
}
