@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@400;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/harlow-solid-italic');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
  background-color: #126c49;
}

.login {
	max-width: 350px;
	width: 100%;
	background-color: #FFF9F3;
	margin: 150px auto;
	padding: 25px 30px;
	border-radius: 28px;
	position: absolute;
	left: 0;
  right: 0;
	z-index: 999;
}

.login_logo {
  width: 81px;
  height: 81px;
	display: block;
	margin: 0 auto;
}

.lg_heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #126c49;
	font-weight: 700;
	margin-top: 24px;
}

.lg_subheading {
	font-size: 12px;
	text-align:center;
	color: #126c49;
}

.user_pass {
  margin-top: 20px;
}

.lg_useracc {
	height: 29px;
	width: 94%;
  margin: 10px 0 5px;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
  padding-left: 15px;
	border: 1px solid #126c49;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

#user_email {
	margin-top: 27px;
}

#togglePassword1, #togglePassword2{
	margin-left: -35px;
	margin-top: 10px;
	position: relative;
	z-index: 2;
	color: #126c49;
	cursor: pointer;
}

.change_button{
	height: 28px;
	margin: 20px 0 20px;
}

.change_button input {
	width: 98.5%;
  padding: 8px 35px;
	border-radius: 40px;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
	border: none;
	color: #ffffff;
	cursor: pointer;
	background: #126c49;
}

.change_button input:hover {
  background:#e88f2b;
  color: #ffffff;
  transition: 0.5s;
}
